image:
  repository: docker.io/nginx
  tag: latest
  pullPolicy: IfNotPresent

{{ if .Values.services.global.registry.imagePullSecret }}
imagePullSecrets:
  - name: {{ .Values.services.global.registry.imagePullSecret }}
{{ end }}

replicaCount: 1

nameOverride: ""
fullnameOverride: ""

service:
  ports:
    - name: api
      port: 80

livenessProbe: 
  httpGet:
    port: api
    path: /healthz

readinessProbe: 
  httpGet:
    port: api
    path: /healthz

volumeMounts:
  - name: config-volume
    mountPath: /etc/nginx/conf.d/virtualhost.conf
    subPath: virtualhost.conf
    readOnly: true

volumes:
  - name: config-volume
    configMap:
      name: {{ .Release.Name }}
      items:
        - key: virtualhost.conf
          path: virtualhost.conf

serviceAccount:
  create: true
  annotations: {}
  name: ""

cronjob:
  enabled: true
  image:
    repository: {{ .Values.services.global.registry.repository | default "docker.io" }}/test_transaction_v2
    tag: 31738a6f95652f46b70c7bd51a95d4c83954596d
    pullPolicy: IfNotPresent
  schedule: "*/1 * * * *"
  args:
    - "http://keycloak-http"
    - "demo_merchant"
    - "Parolec0"
    - http://{{ .Release.Name }}
    {{- if eq .Values.services.global.ipv6only false }}
    - "-4"
    {{- end }}
    - --create-test-shop

configMap:
  data:
    virtualhost.conf: |
      {{- tpl (readFile "virtualhost.conf") . | nindent 6 }}

ciliumPolicies:
  - filters:
    - port: 8080
      type: TCP
    name: keycloak
  - filters:
    - port: 8080
      type: TCP
    name: capi-v1
  - filters:
    - port: 8080
      type: TCP
    name: capi-v2
  - filters:
    - port: 8080
      type: TCP
    name: capi-pcidss-v2
  - filters:
    - port: 80
      type: TCP
    name: test-transaction
