# -*- mode: yaml -*-
configMap:
  data:
    external.json: |
      {{ tpl (readFile "external.json.gotmpl") . | nindent 6 }}
    internal.json: |
      {{ tpl (readFile "internal.json.gotmpl") . | nindent 6 }}
