# -*- mode: yaml -*-

replicaCount: 1

image:
  repository: docker.io/rbkmoney/holmes
  tag: 99978815b561daaab33e6a35b9e300262186c78e
  pullPolicy: IfNotPresent

livenessProbe: null
readinessProbe: null
