# -*- mode: yaml -*-

replicaCount: 1

image:
  repository: docker.io/rbkmoney/holmes
  tag: 07f58e297c03bcd50dc4695ddbcfa4eb30c9928e
  pullPolicy: IfNotPresent

livenessProbe: null
readinessProbe: null
