# -*- mode: yaml -*-

replicaCount: 1

appConfig: |
  {{- readFile "config.yaml" | nindent 2 }}

metrics:
  serviceMonitor:
    enabled: true
    namespace: monitoring
    additionalLabels:
      release: prometheus
