{
{{- if .Values.services.ingress.tls.enabled }}
    "papiEndpoint": "https://iddqd.{{ .Release.Namespace }}.{{ .Values.services.ingress.rootDomain | default "rbk.dev" }}/papi/v1"
{{- else }}
    "papiEndpoint": "http://iddqd.{{ .Release.Namespace }}.{{ .Values.services.ingress.rootDomain | default "rbk.dev" }}/papi/v1"
{{- end }}
}
