{
{{- if .Values.services.ingress.tls.enabled }}
    "papiEndpoint": "https://iddqd{{ if .Values.services.ingress.insertNamespaceBeforeRootDomain }}.{{ .Release.Namespace }}{{ end }}.{{ .Values.services.ingress.rootDomain | default "rbk.dev" }}/papi/v1"
{{- else }}
    "papiEndpoint": "http://iddqd{{ if .Values.services.ingress.insertNamespaceBeforeRootDomain }}.{{ .Release.Namespace }}{{ end }}.{{ .Values.services.ingress.rootDomain | default "rbk.dev" }}/papi/v1"
{{- end }}
}
