# -*- mode: yaml -*-

replicaCount: 1

image:
  repository: docker.io/rbkmoney/postgres-geodata
  tag: 0758740c8c3f350ddd7a8331b5e1cbb0374f4832
  pullPolicy: IfNotPresent

env:
  - name: POSTGRES_USER
    value: postgres
  - name: POSTGRES_PASSWORD
    value: postgres
  - name: POSTGRES_DB
    value: columbus

service:
  ports:
    - name: psql
      port: 5432

livenessProbe: null

readinessProbe: null


