{
    "apiEndpoint": "https://api.{{ .Values.services.ingress.rootDomain | default "rbk.dev" }}",
    "urlShortenerEndpoint": "https://shrt.{{ .Values.services.ingress.rootDomain | default "rbk.dev" }}",
    "checkoutEndpoint": "https://checkout.{{ .Values.services.ingress.rootDomain | default "rbk.dev" }}",
    "keycloakEndpoint": "https://auth.{{ .Values.services.ingress.rootDomain | default "rbk.dev" }}",
    "docsEndpoints": {
      "developer": "https://developer.rbk.money",
      "help": "https://help.rbkmoney.com",
      "rbk": "https://rbk.money"
    },
    "theme": {
      "isMainBackgroundImages": true,
      "logoName": "rbkmoney",
      "name": "main"
    },
    "yandexMetrika": {
        "id": null,
        "clickmap": true,
        "trackLinks": true,
        "accurateTrackBounce": true,
        "webvisor": true
    }
}
