{
    "realm": "external",
    "auth-server-url": "https://auth.{{ .Values.services.ingress.rootDomain | default "rbk.dev" }}/auth/",
    "ssl-required": "external",
    "resource": "koffing",
    "public-client": true
}
