replicas: 1

#This is just init password for vault connections.
postgresqlPassword: "H@ckM3"

initdbScripts:
  rbk-dbs.sql: |
     CREATE DATABASE keycloak;
     CREATE DATABASE shumway;
     CREATE DATABASE hook;
     CREATE DATABASE claim-management;

#TODO: If bump version, change master to primary
master:
  podLabels:
    selector.cilium.rbkmoney/release: {{ .Release.Name }}
