%% -*- mode: erlang -*-
[
    {kernel, [
        {logger_sasl_compatible, false},
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => error,
                config => #{
                    type => standard_error
                },
                formatter => {logger_formatter, #{
                    depth => 30
                }}
            }},
            {handler, console_logger, logger_std_h, #{
                level => debug,
                config => #{
                    type => standard_io,
                    sync_mode_qlen => 20
                },
                formatter => {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {party_management, [
        {scoper_event_handler_options, #{
            event_handler_opts => #{
                formatter_opts => #{
                    max_length => 1000
                }
            }
        }},
        {services, #{
            automaton        => "http://machinegun:8022/v1/automaton",
            accounter        => "http://shumway:8022/shumpune"
        }},
        {cache_options, #{ %% see `pm_party_cache:cache_options/0`
            memory => 209715200,  % 200Mb, cache memory quota in bytes
            ttl => 3600,
            size => 3000
        }},
        {health_check, #{
            disk    => {erl_health, disk     , ["/", 99]},
            memory  => {erl_health, cg_memory, [70]},
            dmt_client => {dmt_client, health_check, []},
            service => {erl_health, service  , [<<"party-management">>]}
        }}
    ]},

    {dmt_client, [
        {cache_update_interval, 5000}, % milliseconds
        {max_cache_size, #{
            elements => 20,
            memory => 52428800 % 50Mb
        }},
        {woody_event_handlers, [
            {scoper_woody_event_handler, #{
                event_handler_opts => #{
                    formatter_opts => #{
                        max_length => 1000
                    }
                }
            }}
        ]},
        {service_urls, #{
            'Repository' => <<"http://dominant:8022/v1/domain/repository">>,
            'RepositoryClient' => <<"http://dominant:8022/v1/domain/repository_client">>
        }}
    ]},

    {how_are_you, [
        {metrics_handlers, [
            hay_vm_handler,
            hay_cgroup_handler,
            woody_api_hay
        ]},
        {metrics_publishers, []}
    ]},

    {snowflake, [{machine_id, 1}]},

    {prometheus, [
        {collectors, [default]}
    ]}
].
