[
    {kernel, [
        {logger_sasl_compatible, false},
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                config => #{
                    type => file,
                    file => "/var/log/test_transaction/console.json",
                    sync_mode_qlen =>  5000,
                    drop_mode_qlen =>  5000,
                    flush_qlen     => 10000,
                    %% We want almost all logs
                    burst_limit_enable => false
                },
                formatter => {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]},

    {test_transaction, [
        {test_opts, [
            {kc_url, "http://keycloak-http:80"},
            {kc_user, "demo_merchant"},
            {kc_pass, "Parolec0"},
            {capi_url, "http://capi-v1:8080"},
            {retry_pause, 3000},
            {retries, 5},
            {connect_timeout, 1000},
            {send_timeout, 500},
            {recv_timeout, 10000},
            {ipv4,                  true},
            {test_shop_id,          <<"1">>},
            {create_test_shop,      true},
            {test_payment_inst_id,  1},
            {test_category_id,      1},
            {login_warn,            4000},
            {get_my_party_warn,     2400},
            {get_first_shop_warn,   2000},
            {create_invoice_warn,   18000},
            {tokenize_card_warn,    600},
            {create_payment_warn,   1800},
            {fulfill_invoice_warn,  18000}
        ]}
    ]}
].