apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "stateless.fullname" . }}
  labels:
{{ include "stateless.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "stateless.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "stateless.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      annotations:
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.logs.enabled }}
        co.elastic.logs/enabled: "true"
      {{- end }}
      {{- if .Values.logs.json }}
        co.elastic.logs/json.keys_under_root: "true"
        co.elastic.logs/json.overwrite_keys: "true"
        co.elastic.logs/json.add_error_key: "true"
        co.elastic.logs/processors.1.decode_json_fields.fields: "log"
        co.elastic.logs/processors.1.decode_json_fields.max_depth: "5"
        co.elastic.logs/processors.1.decode_json_fields.target: ""
        co.elastic.logs/processors.1.decode_json_fields.overwrite_keys: "true"
        co.elastic.logs/processors.1.decode_json_fields.add_error_key: "true"
      {{- end }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ template "stateless.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
    {{- if or .Values.extraInitContainers .Values.apiInitContainers.enabled }}
      initContainers:
    {{- if .Values.apiInitContainers.enabled }}
        - name: fetch-keycloack-pubkey
          image: busybox:1.32
          env:
          - name: TARGET
            value: "/var/keycloak/keycloak.pubkey.pem"
          command:
            - /bin/sh
            - -c
            - /opt/keycloak/fetch-keycloak-pubkey.sh
          volumeMounts:
            - name: config-volume
              mountPath: /opt/keycloak/fetch-keycloak-pubkey.sh
              subPath: fetchKeycloakPubkey
              readOnly: true
            - name: keycloak-pubkey
              mountPath: /var/keycloak
    {{- end }}
    {{- with .Values.extrainitContainers }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- end }}
      containers:
        - name: {{ .Release.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          {{- range .Values.env }}
            - name: {{ .name }}
              value: {{ .value }}
          {{- end }}          
          ports:
          {{- range .Values.service.ports }}
            - name: {{ .name }}
              containerPort: {{ .port }}
              protocol: TCP
          {{- end }}
        {{- if .Values.runopts.command }}
          command: {{ .Values.runopts.command}}
        {{- with .Values.runopts.args }}
          args:
            {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
        {{- end }}
    {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
    {{- end }}    
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
