# -*- mode: yaml -*-

replicaCount: 1

entrypoint: |
  {{- readFile "entrypoint.sh" | nindent 2 }}
knownCards: |
  {{- readFile "cards.csv" | nindent 2 }}
errorMapping: |
  {{- readFile "errors.json" | nindent 2 }}
