%% -*- mode: erlang -*-
[
    {dmt_client, [
        {cache_update_interval, 5000}, % milliseconds
        {cache_server_call_timeout, 30000}, % milliseconds
        {max_cache_size, #{
            elements => 80,
            memory => 209715200 % 200Mb
        }},
        {woody_event_handlers, [
            {scoper_woody_event_handler, #{
                event_handler_opts => #{
                    formatter_opts => #{
                        max_length => 1000,
                        max_printable_string_length => 80
                    }
                }
            }}
        ]},
        {service_urls, #{
            'Repository'       => <<"http://dominant:8022/v1/domain/repository"       >>,
            'RepositoryClient' => <<"http://dominant:8022/v1/domain/repository_client">>
        }}
    ]},
    {kernel, [
        {logger_sasl_compatible, false},
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                config => #{
                    type => standard_io
                },
                formatter => {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},
    {scoper, [
        {storage, scoper_storage_logger}
    ]},
    {hellgate, [
        {ip  , "::"},
        {port, 8022},
        {default_woody_handling_timeout, 30000},
        %% 1 sec above cowboy's request_timeout
        {shutdown_timeout, 7000},
        {protocol_opts, #{
            request_timeout => 4000,
            % Should be greater than any other timeouts
            idle_timeout => infinity
        }},
        {transport_opts, #{
            % Keeping the default value
            max_connections => 8096
        }},
        {scoper_event_handler_options, #{
            event_handler_opts => #{
                formatter_opts => #{
                    max_length => 1000,
                    max_printable_string_length => 80
                }
            }
        }},
        {services, #{
            automaton => #{
                url => <<"http://machinegun:8022/v1/automaton">>,
                transport_opts => #{
                    pool => woody_automaton,
                    timeout => 3000,
                    max_connections => 2000
                }
            },
            eventsink => #{
                url => <<"http://machinegun:8022/v1/event_sink">>,
                transport_opts => #{
                    pool => woody_eventsink,
                    timeout => 3000,
                    max_connections => 300
                }
            },
            accounter => #{
                url => <<"http://shumway:8022/shumpune">>,
                transport_opts => #{
                    pool => woody_accounter,
                    timeout => 3000,
                    max_connections => 2000
                }
            },
            party_management => #{
                url => <<"http://party-management:8022/v1/processing/partymgmt">>,
                transport_opts => #{
                    pool => woody_party_management,
                    timeout => 3000,
                    max_connections => 300
                }
            },
            customer_management => #{
                url => <<"http://hellgate:8022/v1/processing/customer_management">>,
                transport_opts => #{
                    pool => woody_customer_management,
                    timeout => 3000,
                    max_connections => 300
                }
            },
            recurrent_paytool => #{
                url => <<"http://hellgate:8022/v1/processing/recpaytool">>,
                transport_opts => #{
                    pool => woody_recurrent_paytool,
                    timeout => 3000,
                    max_connections => 300
                }
            },
            fault_detector => #{
                url => <<"http://fault_detector:8022/v1/fault-detector">>,
                transport_opts => #{
                    pool => woody_fault_detector,
                    timeout => 3000,
                    max_connections => 2000
                }
            },
            limiter => #{
                url => <<"http://limiter:8022/v1/limiter">>,
                transport_opts => #{
                    pool => woody_proto_limiter,
                    timeout => 3000,
                    max_connections => 300
                }
            }
        }},
        {fault_detector, #{
            enabled => false,
            timeout => 4000,
            availability => #{
                critical_fail_rate   => 0.3,
                sliding_window       => 60000,
                operation_time_limit => 10000,
                pre_aggregation_size => 2
            },
            conversion => #{
                benign_failures => [
                    insufficient_funds,
                    rejected_by_issuer,
                    processing_deadline_reached
                ],
                critical_fail_rate   => 0.7,
                sliding_window       => 60000,
                operation_time_limit => 1200000,
                pre_aggregation_size => 2
            }
        }},
        {proxy_opts, #{
            transport_opts => #{
                pool => proxy_connections,
                timeout => 3000,
                max_connections => 2000
            }
        }},
        {health_check, #{
            disk    => {erl_health, disk     , ["/", 99]},
            memory  => {erl_health, cg_memory, [70]},
            dmt_client => {dmt_client, health_check, []},
            service => {erl_health, service  , [<<"hellgate">>]}
        }},
        {payment_retry_policy, #{
            % {exponential, Retries, Factor, Timeout, MaxTimeout}
            % try every min(2 ** n, 20) seconds until 60 seconds from first error pass
            processed => {exponential, {max_total_timeout, 60}, 2, 1, 20},
            % try every min(2 ** n seconds, 5 minutes) until 5 hours from first error pass
            captured => {exponential, {max_total_timeout, 18000}, 2, 1, 300},
            refunded => no_retry
        }},
        {inspect_timeout, 7000},
        {binding, #{
            max_sync_interval => <<"5s">>,
            outdated_sync_interval => <<"1440m">>,
            outdate_timeout => <<"180m">>
        }}
    ]},

    {party_client, [
        {services, #{
            party_management => <<"http://party-management:8022/v1/processing/partymgmt">>
        }},
        {woody, #{
            cache_mode => safe,  % disabled | safe | aggressive
            options => #{
                woody_client => #{
                    event_handler => {
                        scoper_woody_event_handler,
                            {scoper_event_handler_options, #{
                                event_handler_opts => #{
                                    formatter_opts => #{
                                        max_length => 1000,
                                        max_printable_string_length => 80
                                    }
                                }
                            }
                        }
                    },
                    transport_opts => #{
                        pool => party_client,
                        timeout => 3000,
                        max_connections => 2000
                    }
                }
            },
            cache => #{
                memory => 209715200,  % 200Mb, cache memory quota in bytes
                n => 10  % number of cache segments
            }
        }}
    ]},
    {os_mon, [
        {disksup_posix_only, true}
    ]},
    {hackney, [
        {mod_metrics, woody_client_metrics}
    ]},
    {how_are_you, [
        {metrics_handlers, [
            hay_vm_handler,
            hay_cgroup_handler,
            woody_api_hay
        ]},
        {metrics_publishers, [
        ]}
    ]},

    {prometheus, [
        {collectors, [default]}
    ]},

    {snowflake, [{machine_id, 1}]}
].
