{
    "realm": "internal",
    "auth-server-url": "https://auth.{{ .Release.Namespace }}.{{ .Values.services.ingress.rootDomain | default "rbk.dev" }}/auth/",
    "ssl-required": "external",
    "resource": "weezing",
    "public-client": true
}
